<!DOCTYPE html>
<html ng-app='tttApp'>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/jquery-2.1.1.min.js"></script>
	<!--<script src="js/main.js"></script>-->
	<script src="js/angular.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/tttController.js"></script>

	<title>Tic Tac Toe</title>
</head>
<body ng-controller="tttController as game">

	<h1>Generic Tic Tac Toe Game</h1>
	<!-- give me the property tttcontroller and print it -->
	<h2>{{ game.gameSession.message }}</h2>
	<section id="container">
			<!--ng-click to repeat the array. setTile is used to mark the div with 'x'. -->
			<div ng-click="game.setTile($index)" class="boxes"
					ng-repeat="tile in game.gameSession.gameBoard track by $index">
				{{game.getTile($index)}}
			</div>
			<button ng-click="game.newGame()">new game</button>

	</section>


</body>
</html>

   